<!DOCTYPE html>

<html>

<head>
    <link ref="icon" href="img/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created to get the current weather. It uses mapbox.com and weatherstack.net</p>
        <img class="portrait" src="img/dh7.png">
    </div>
    {{>footer}}
</body>

</html>
